.DashBoard {
    display: flex;
    flex-direction: row;
    width: auto;
}
.link {
    font-size: 20px;
    list-style-type: none;
    margin-top: 3px;
    font-weight: bold;
    color: rgb(71, 27, 27);
    margin-left: 50px;
    text-decoration: none;
}
.Input {
    margin-top: 20px;
    margin-left: 300px;
}
