.GroupTimeTable {
    height: 800px;
    width: max-content;
    background-color: #ffdee9;
    background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}
.SelectGroup {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.GroupSelect {
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 4px;
    margin-left: 10px;
    font-size: 25px;
    color: crimson;
    font-weight: bold;
    background-color: #b5fffc;
}

.t-head {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 160px;
    margin-right: 200px;
}
h1 {
    margin-left: 20%;
    color: rgb(194, 52, 194);
}
.THleft {
    display: flex;
    flex-direction: row;
}
.THright {
    display: flex;
    flex-direction: row;
}

.t-head-title {
    text-align: center;
    border: solid 1px red;
    background-color: aquamarine;
    height: 50px;
    border-radius: 5px;
    margin: 1px;
    line-height: 40 px;
    width: 70px;
    color: crimson;
    font-weight: bold;
}
.t-head-Day {
    display: flex;
    flex-direction: column;
}
.t-head-Num {
    display: flex;
    flex-direction: column;
}
.t-head-dayItem {
    background-color: aquamarine;
    color: crimson;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    border: solid 1px;
    font-size: 12px;
    border-radius: 5px;
    margin: 1px;
    font-size: 16px;
}

.t-head-numItem {
    background-color: aquamarine;
    color: crimson;
    width: 70px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    border: solid 1px;
    font-size: 12px;
    border-radius: 5px;
    margin: 1px;
    font-size: 16px;
}
.t-head-Time {
    display: flex;
    flex-direction: column;
}
.t-head-timeItem {
    background-color: aquamarine;
    color: crimson;
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    border: solid 1px;
    font-size: 12px;
    border-radius: 5px;
    margin: 1px;
    font-size: 16px;
}
